* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #fff7d8;
    margin: 10px;
}

main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #aaa;

}

main > div:nth-child(1n){
    background-color: #358d61;
}

main > div:nth-child(3n) {
    background-color: #5c76ca;
}

main > div:nth-child(2n) {
    background-color: #ffcc5c;
}

main > div:nth-child(4n) {
    background-color: #eee;
}

main {
    display: grid;
    grid-gap: 5px;
    /* grid-template-columns: repeat(6, 100px); */
    /* grid-template-columns: repeat(6, 1fr); */
    /* grid-template-columns: repeat(auto-fit, 100px); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 100px 100px;
    grid-auto-rows: 100px;
}