/* conteúdo de incialização */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 10px;
}

main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #aaa;
}

main > div:nth-child(1n) {
    background-color: #358d61;
}

main > div:nth-child(3n){
    background-color: #5c76ca;
}

main > div:nth-child(2n) {
    background-color: #ffcc5c;

}

main > div:nth-child(4n) {
    background-color: #eee;
}

#c1 {
    border: 1px solid black;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}

#c2 {
    border: 1px solid black;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}