* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 95vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15vh 65vh 20vh;
}

header, nav, article, footer {
    padding: 20px;
    color: #fff7d8;
    font-size: 2rem;
    border: 5px solid #fde687;
    display: flex;
    align-items: center;

}

header {
    background-color: #96ceb4;
    grid-column: span 12;
}

nav {
    background-color: #ff6f69;
    grid-column: span 3;
}

article {
    background-color: #ffcc5c;
    grid-column: span 9 ;
}

footer {
    background-color: #88d8b0;
    grid-column: span 12;
}